.home__container {
  width: 100vw;
  height: 100vh;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__filter {
  width: 600px;
  padding: 5px auto 5px auto;
  background-color: blue;
}

.home__list {
  width: 600px;
  background-color: pink;
}

@media (max-width: 600px) {
  .home__filter {
    width: 300px;
  }
  .home__list {
    width: 300px;
  }
}
